In [1]:
try:
    print("5"/0)
except ArithmeticError:
    print("arit")
except ZeroDivisionError:
    print("cero")
except:
    print("algo")

algo

In [2]:
x = '\''
print(len(x))

1

In [3]:
print(ord('c') - ord('a'))

2

In [4]:
print(chr(ord('z') - 2))

x

In [5]:
print(3 * 'abc' + 'xyz')

abcabcabcxyz

In [6]:
print('Mike' > "Mikey")

False

In [7]:
print(float("1, 3"))

ValueError: could not convert string to float: '1, 3'